* {
  margin: 0;
  padding: 0;
}
.menu-container {
  background: blueviolet;
  height: 60px;
  
    
  
}

.menu-list {
  a {
    text-decoration: none;
    font-size: 25px;
    color: white;
  }
}

// mobile-tablet-only {
@media (max-width: 991px) {
  .menu-container {
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  
    /*start hamburger icon*/
    .hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  
      span {
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 10px;
      }
    }
  
    /*end hamburger icon*/
    .menu-list {
      top: 60px;
      left: 0;
      display: flex;
      flex-direction: column;
      background: #f7ffb6;
      width: 100%;
      position: absolute;
      height: 100vh;
      display: none;
    }
  }
  
  .menu-container.menu-open {
    .menu-list {
      display: flex;
    }
  }
}

//desktop only
@media (min-width: 992px) { 
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-list {
      height: 33px;
      min-width: 600px;
      display: flex;
      justify-content: space-between;

      a:hover {
        color: red;
      }
    }
  }
}
footer {
  background:pink;
  
  height: 40px;
  position: absolute;
  bottom:0;
  width: 100%;
.menu-footer{
  color :white;
  text-decoration: none;
  font-size: 25px;
  display: flex;
    align-items: center;
    justify-content: space-between;

 
  

}


}